html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    line-height: 1.7;
    overflow-x: hidden;
}

$layout-breakpoint-xsmall: 567px;
$layout-breakpoint-small: 568px;
$layout-breakpoint-medium: 768px;
$layout-breakpoint-large: 960px;