
$font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

/* smaller */
$font-xs1: 0.6rem;
$font-xs2: 0.85rem; 

/* small font-size */
$font-sm1: 1.135rem;
$font-sm2: 1.357rem;

/* medium font-size */
$font-md1: 1.550rem;
$font-md2: 1.890rem;

/* large font-size */
$font-lg1: 2.13rem;
$font-lg2: 2.41rem;

/* width */
$max-width: 100%;
$width: 100%;